.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem;
	padding-top: 0;
	min-height: 100vh;
}

.description {
	display: inherit;
	justify-content: flex-start;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}
